[submodule "JSONNeverDie"]
	path = JSONNeverDie
	url = https://github.com/johnlui/JSONNeverDie.git
[submodule "macOS/JSONNeverDie"]
	path = macOS/JSONNeverDie
	url = https://github.com/johnlui/JSONNeverDie.git
